<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Datos Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 4
      </ion-col>
      <ion-col>
        2 of 4
      </ion-col>
      <ion-col>
        3 of 4
      </ion-col>
      <ion-col>
        4 of 4
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-list>
    <ion-item *ngFor="let cr of almacenes">
      <ion-icon name="apps" slot="start"></ion-icon>
      {{cr.nombre}}
      <div class="item-note" slot="end">
        <ion-button shape="round" color="danger" (click)="deleteAlmacen(cr.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="warning" routerLink="/AlmacenCU/{{cr.id}}">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>-->
</ion-content>